@use "bootstrap/dist/css/bootstrap.min.css";
@use 'ngx-toastr/toastr';

.toast-success {
  background-color: #16a34a;
}

.toast-error {
  background-color: #dc2626;
}

.toast-info {
  background-color: #2563eb;
}

.toast-warning {
  background-color: #d97706;
}

.toast-container .ngx-toastr {
  border-radius: 12px;
  box-shadow: 0 20px 50px rgba(0,0,0,.25);
}

html, body {
  height: 100%;
}

body {
  background-color: #c8cccf;
}